.pagination {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: $main-bg-color;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
     button{
        cursor: pointer;
        border: 2px solid $primary-color;
        color: $primary-color;
        background-color: $main-bg-color;
        margin-right: 4px;
        margin-bottom: 4px;
     }
     .active{
        background-color: orange;
     }
}