.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemoncard {
    display: flex;
    flex-direction: column;
        img{ 
            height: 10rem;
        }
        p{
            color: red;
        }
}