@import '../styles/variables';

.pokemon-list {
    background-color: $main-bg-color;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    
    padding: 8px;
    
    
    height: auto;
    width: 100%;
    
    box-sizing: border-box;
}

.pokemoncard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 16px;

    max-height: 200px;

    padding: .5rem;
    padding-bottom: 2rem;

    box-sizing: border-box;
    transition: all .25s ease-in;

        &:hover {
            transform: rotate(3deg);
            transform: scale(1.03);
            cursor: pointer;
        }
        div{
            display: flex;
            gap: 4px;
        }
        img{ 
            height: 10rem;
        }
        p{
            color: white;
            border-radius: 8px;
            font-weight: 600;
            margin: 0;
            padding: .3rem;
        }
}

@media screen and (max-width: 1023px) {
    .pokemon-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 760px) {
    .pokemon-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }
    .pokemoncard {
        height: 50vh;
    }
}