.pokemon-list {
    background-color: orange;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    
    padding: 8px;
    
    box-sizing: border-box;

    width: 100%;
    
}

.pokemoncard {
    display: flex;
    flex-direction: column;
        img{ 
            height: 10rem;
        }
        p{
            color: red;
        }
}