@import '../styles/variables';

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: $primary-color;
        .logo-select{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
        h3 {
            color: orange;
            cursor: pointer;
                &:hover {
                    color: rgba(255, 165, 0, 0.8);
                }
        }
        input {
            padding: 1.2rem;
            border: none;
            background-color: $secondary-color;
            height: 10px;
            &::placeholder {
                color: #dadada;
                font-weight: 400;
            }
        }
}

@media screen and (max-width: 768px) {
    .Navbar {
        flex-direction: column;
    }
}