.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #323232;

        h3 {
            color: orange;
        }
        input {
            padding: 1.2rem;
            border: none;
            background-color: rgba(70,80,80, 0.9);
            height: 10px;
            &::placeholder {
                color: #dadada;
                font-weight: 400;
            }
        }
}